* {
    margin: 0; padding: 0;
}
body, table {
    font-family: Arial, Helvetica, sans-serif;
}
div#errors {
    position: absolute;
    left: 50%; top: 10%;
    margin-left: -200px;
    width: 400px;
}
div#errors > div {
    padding: 1em;
    margin-bottom: .5em;
    width: 100%;
    border: 1px solid red;
    background: lightpink;
    color: darkred;
}
/* layout start */
div#container {
    display: grid;
    height: 100vh;
    grid-template-columns: 250px auto;
    grid-template-rows: 3em auto 3em;
    /* this is also a feasible layout */
    /* grid-template-areas: "header header" "panel content" "footer footer"; */
    grid-template-areas: "panel header" "panel content" "panel footer";
}
header { grid-area: header; }
nav#panel { grid-area: panel; }
main {
    grid-area: content;
    /*
        I want to limit it in width (so that we can scroll its children elements... but what's the best way?)
        max-width: calc(100vw - 250px - 3em);
    */
}
footer { grid-area: footer; }

header, footer, main { padding: 1em; }

/* we could use some fun colours, check out the generator over at https://coolors.co */
header, footer {
    display: flex;
    flex-direction: row;
    background-color: #eee;
    align-items: center;
}
footer {
    justify-content: flex-end;
    font-size: 90%;
}
nav#panel {
    background-color: #086375;
}
nav#panel, nav#panel a { color: #CCDBDC; }
main {
    background-color: white;
    overflow: auto;
}
main > div {
    /* prevent flickering upon load */
    display: none;
}
/* end layout */

header > input {
    padding-left: .5em;
}

nav#panel ul li {
    list-style: none;
}
nav#panel ul li a {
    display: block;
    padding: 1em;
    text-decoration: underline;
}
nav#panel ul li a:hover, nav#panel ul li a.current {
    background: darkslategray;
}
